* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Balsamiq Sans", sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  margin: 1rem 0.5rem;
}

.kick-pad {
  background: rgb(47, 209, 209);
}
.snare-pad {
  background: rgb(206, 77, 27);
}
.hihat-pad {
  background: rgb(78, 28, 214);
}

.kick-pad.active {
  background: rgb(0, 255, 255);
}

.snare-pad.active {
  background: rgb(255, 72, 0);
}

.hihat-pad.active {
  background: rgb(68, 0, 255);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 1rem;
}

#margin {
  margin: 0rem 1.2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  border-radius: 50%;
  background: rgb(56, 56, 56);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(56, 56, 56);
  border: none;
  cursor: pointer;
  margin: 1rem;
  color: white;
  margin: 2.5rem 0rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  /* margin: 0.5rem; */
}

.mute.active {
  background-color: rgb(151, 151, 151);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo p {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
